
@font-face {
    font-family: 'QuickSand';
    src: url('./Quicksand-VariableFont_wght.ttf');
}

body {
    color: white;
    font-family: QuickSand;
    margin: 0;
}

.menupanel {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 40px;
}


.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.setskins {
  float: right;
  width: 80px;
  height: 40px;
  padding: 10px;
  border-top: 25px;
  background:  #7289DA;
  border-top: 25px;
  color: white;
  font-size: 17px;
  border: 1px solid #7289DA;
  border-left: none;
  cursor: pointer;
  border-radius: 4px;
}

.setskins :hover {
  background:  #7FA0E8;
}

input[type="radio"]{
  display: none;
}
input[type="radio"] + label span {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: transparent;
  vertical-align: middle;
  border: 2px solid #7289DA;
  border-radius: 50%;
  padding: 2px;
  margin:0 5px;
}
input[type="radio"]:checked + label span {
  width: 15px;
  height: 15px;
  background: #7289DA;
  background-clip: content-box;
}

input[type="checkbox"]{
  display: none;
}
input[type="checkbox"] + label span {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: transparent;
  vertical-align: middle;
  border: 2px solid #7289DA;
  border-radius: 50%;
  padding: 2px;
  margin:0 5px;
}
input[type="checkbox"]:checked + label span {
  width: 15px;
  height: 15px;
  background: #7289DA;
  background-clip: content-box;
}

form.tagbox input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #191b1c;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
* {
  box-sizing: border-box;
}

form.tagbox button {
  float: left;
  width: 20%;
  height: 40px;
  padding: 10px;
  background:  #7289DA;
  margin-top: 1px;
  color: white;
  font-size: 17px;
  border: 1px solid #7289DA;
  border-left: none;
  cursor: pointer;
}

form.tagbox button:hover {
  background:  #7FA0E8;
}

form.tagbox::after {
  content: "";
  clear: both;
  display: table;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    
  border-radius: 15px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #7289DA;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }